@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto+Mono:wght@400;600&display=swap");

:root {
  /* --dark-colour-5: #956fa6;
  --dark-colour-4: #4f1a73;
  --dark-colour-3: #3d1259;
  --dark-colour-2: #2a0940;
  --dark-colour-1: #180326;
  --dark-text-colour: hsl(281, 24%, 84%); 
  --bg-colour: #0c0411; */

  /* light colour pallete */
  --colour-1: #f2f2f2;
  --colour-2: #f2e750;
  --colour-3: #f2c849;
  --colour-4: #f29e38;
  --colour-5: #f25430;
  --text-colour: rgb(0, 0, 0);
  --bg-colour: white;
  --bar-colour: rgba(242, 242, 242, 1);

  /* dark colour pallete */
  --colour-5: #956fa6;
  --colour-4: #4f1a73;
  --colour-3: #3d1259;
  --colour-2: #2a0940;
  --colour-1: #180326;
  --text-colour: hsl(281, 24%, 84%);
  --bg-colour: #0c0411;
  --bar-colour: #2a0940;
}
